<div class="row">
    <div class="col-md-12 tablePosts text-center">
        <h2 class="text-orange">Posts</h2>
        <hr>
        <a href="/posts/add" class="btn btn-outline-success">Add Post</a>
        <table class="table table-hover text-center text-dark">
            <tr>
                <th>Post ID</th>
                <th>Title</th>
                <th>Post Date</th>
                <th>Category</th>
                <th>Published</th>
                <th></th>
            </tr>
            {{#each posts}}
            <tr>
                <td>{{id}}</td>
                <td>{{title}}</td>
                <td>{{#formatDate postDate}}{{/formatDate}}</td>
                <td><a href="/posts?category={{category}}">{{category}}</a></td>
                <td>{{published}}</td>
                <td><button class="btn btn-outline-danger"><a href="/posts/delete/{{id}}"
                            class="list-group-item">Remove</a></button></td>
            </tr>
            {{/each}}
        </table>
    </div>
    <div class="col-md-12 text-center">
        {{#unless posts}}
        <strong>{{message}}</strong>
        {{/unless}}
    </div>
</div>